@mixin font-face($font-family, $file-path) {
  font-family: $font-family;
    src: url('#{$font-path}#{$file-path}#{$font-family}.eot');
    src: url('#{$font-path}#{$file-path}#{$font-family}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}#{$file-path}#{$font-family}.woff') format('woff'),
         url('#{$font-path}#{$file-path}#{$font-family}.ttf') format('truetype'),
         url('#{$font-path}#{$file-path}#{$font-family}.svg##{$font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}


@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem; 
  //font-size: ($sizeValue * 0.7) + vw;
}

@mixin line-height($sizeValue: 1.6){
  line-height: ($sizeValue*1.33)*10 + px;
  line-height: $sizeValue*1.33 + rem;
}


@keyframes flipInX {
  from {
    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(1000px) rotate3d(1, 0, 0, 20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(1000px) rotate3d(1, 0, 0, -10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(1000px) rotate3d(1, 0, 0, 5deg);
  }
  to {
    transform: perspective(1000px);
  }
}
@mixin flipInX {
  transform-origin: top center;
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}